.idea

__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/
.venv/
.env

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/

# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints

backend/src/migrations/versions/*